.dotted-line {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.dots {
  display: block;
  width: 15px;
  height: 3px;
}
.text {
  display: block;
  margin: 0 0.583em;
}
