.nav {
  position: relative;
  width: 50%;
  height: 100%;
}
.list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.item {
  font-size: 24px;
  font-family: Comfortaa, sans-serif;
  margin: 30px auto;
}
.trigger {
  position: absolute;
  top: 50%;
  left: 100%;
  transform: translate(16px, -50%) rotate(90deg);
  display: block;
  width: 15px;
  height: 15px;
}